src/
nbproject/
/25.11.2019/Tema1/target/
/Variabila/target/
/Variabile/target/
/termometru/target/
/Minute/target/
/Ex48/target/
/PozNeg/target/
/Triunghi/target/
/Luna/target/
/ZileCurs/target/
/For1/target/